* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
    color: blanchedalmond;
}
